{% extends "base.html" %}

{% block title %}
    About IPP Dealership
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4">About IPP Dealership</h1>
                <p class="lead">
                    IPP Dealership is a project of Instituto Politécnico de Portalegre made by students from Rio de Janeiro, Brazil.
                </p>
                <hr class="my-4">
                <p>
                    The main goal of this project is to create a full stack car/motorcycle dealership, using Django and Django REST framework.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
