<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="used vehicle dealership: cars and motorcycles">
        <meta name="keywords" content="car, motorcycle, used, dealership">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis error, quidem dolores doloremque quia dolore consequatur voluptatem nihil provident, debitis vero ea tenetur iusto possimus esse quis. Perferendis, ex quaerat.
    </body>
</html>
